<div class="container">

<div class="row">
    <div class="col">
        <ul>
            <li><a href="  Le guide de bonnes pratiques et fiche mémo pour la qualité et la sécurité des actes de TLE et de TLE">Website</a></li>
            <li><a href=" Le guide de bonnes pratiques et fiche mémo pour la qualité et la sécurité des actes de TLE et de TLE">            
            </a></li>
            <li><a href="Le guide DGOS : Facturation des téléconsultations et téléexpertises en établissement de santé">Le guide DGOS : Facturation des téléconsultations et téléexpertises en établissement de santé</a></li>
            <li><a href=" Les documents de l’ANS">Les documents de l’ANS</a></li>
            <li><a href="Les orientations nationales du DPC">Les orientations nationales du DPC</a></li>
            <li><a href=" Le guide de bonnes pratiques et fiche mémo pour la qualité et la sécurité des actes de TLE et de TLE">Website</a></li>
            <li><a href=" Le guide de bonnes pratiques et fiche mémo pour la qualité et la sécurité des actes de TLE et de TLE">Website</a></li>
            
           
           
        </ul>
    </div>
</div>

</div>
